/* // backgroundColor: props.mode === "dark" ? "#282828" : "white",
// color: props.mode === "dark" ? "white" : "black", */

textarea{
    background-color: #282828;
    color: white;
}

textarea::placeholder {
    color: white;
    font-weight: bolder;
}